body {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 33.5px 50px 33.5px 50px;
    background: #F8BFC7;
}

nav {
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    list-style-type: none;

    color: #000000;
}

.background {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 643px;
}

.main {
    padding: 90px;
}

.form {
    padding-top: 200px;
    padding-bottom: 50px;
    width: fit-content;
    padding: 33px;
    background: #F8BFC7;
    border: 3px solid #FFFFFF;
    border-radius: 20px;
    height: fit-content;
}

button {
    position: relative;
    top: 30px;
    left: 50px;
    background: #FEB700;
    border: 3px solid #FFFFFF;
    border-radius: 30px;
    padding: 20px 37px 20px 37px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}

.text {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 114px;
    background-color: #336FD1;
    color: #FEB700;

    font-weight: 700;
    font-size: 50px;
    line-height: 57px;

    align-items: center;
    text-align: center;

    overflow: auto;
}



footer {
    display: flex;
    justify-content: space-between;
    padding: 33.5px 50px 33.5px 50px;
    background: #F8BFC7;
}

input[type=text] {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    width: 240px;
    height: 35px;
    background: #F8BFC7;
    color: #FFFFFF;
}

input[type=email] {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    width: 240px;
    height: 35px;
    background: #F8BFC7;
    color: #FFFFFF;
}

