* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-size: 25px;
}

.header {
    display: flex;
    height: 100px;

    background: #0000FF;
    color: #FFFFFF;

    padding-left: 30px;

    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 100px 0;
}

.box {
    display: flex;
    border: 5px solid #000000;
    width: 600px;
    height: 300px;
}

.box_text {
    display: flex;
    align-items: center;
    text-align: center;

    font-size: 50px;
    line-height: 57px;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: space-between;

    padding-left: 30px;
    padding-right: 30px;

    align-items: center;
}

@media only screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
    }
    .box {
        display: flex;
        width: 100%;
    }
    .box_text {
        font-size: 25px;
        line-height: 29px;
    }
}

@media only screen and (min-width: 601px) {
    .container {
        display: flex;
        flex-wrap: wrap;
    }
    .box {
        display: flex;
        width: 600px;
        height: 300px;
    }
}
